@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100% ;

}

.simple-form{
    text-align: center;
    border: 3px solid white;
    margin:80px 400px;
    background-color:#051019 ;
    opacity: 0.8;

}

#registration{
    width: 100%;

    padding: 50px 0px;
}

#button{

    width: 250px;
    padding:10px;
    border-radius: 5px;
    font-family: Asap;
    color: black;
    font-weight: bold;
    font-size: 16px;

}
#number{
    width: 200px;
    padding:10px;
    border-radius: 5px;
}

#option{
    border-radius:5px ;
    padding:10px;
}

#rad1{
color: white;
font-size: 20px;
margin-left: 10px;
}
#rad2{
    color: white;
    font-size: 20px;
    margin-left: 10px;
    
    }

#rad-button{

    margin-left: 40px;

}

#submit{

    padding:5px 20px;
    color: white;
    background-color:forestgreen ;
    width:fit-content;
    font-size:25px ;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 5px;
}
/* .heading{
    color: white;
   
    margin-top: 20px;
    font-weight: bold;
} */

#forgot{

    color:white;
    margin-bottom: 20px;
    position:relative;
    left:340px;
    top:0px;
    width:200px;
}